.budget-request {
    position: absolute;
    right: 10%;
    top: 270px;
    background-color: var(--color-one);
    border-radius: 80px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.5),
        inset 0px 30px 40px -45px rgba(0, 0, 0, 0.5);
    gap: 20px;
    width: 400px;
}

.budget-request-title {
    font-size: 2.4rem;
    font-weight: bolder;
    width: 360px;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}





.budget-request-input {
    background-color: #ece0d1;
    padding: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 20px 0px 20px 0px;
    font-size: 1.2rem;
    font-family: 'TextFont';

}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.budget-request-textarea {
    background-color: #ece0d1;
    padding: 10px 10px;
    width: 100%;
    border: none !important;
    font-size: 1rem;

}




.relevant {
    font-weight: bolder;
    color: white;
    font-family: 'TextFont';
}


.contact-sect-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--color-sub-one);
    border-radius: 0 0px 80px 0px;
    font-family: 'TextFont';
}

.phone-icon {
    font-size: 2rem;
}

.contact-sect-form p {
    font-size: 2rem;

}

h2 {
    font-family: 'TitleFontText';
    line-height: 1.2em;
}


.budget-request form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 10px;
}



/* .budget-request form input{

    width: 100%;
    border: 1px black solid;
    padding: 10px 5px;
    border-radius: 8px;
    
} */
.budget-request form textarea {
    width: 100%;
    border: 1px black solid;
    /* padding: 5px; */
    border-radius: 8px;
    font-family: 'TextFont';
}

.budget-request form button {
    margin-top: 20px;
    width: 80%;
    border: none;
    padding: 20px 10px;
    border-radius: 20px;
    font-size: 1.4rem;
    color: white;
    font-weight: bolder;
    background-color: #7E6752;
    cursor: pointer;
    font-family: 'TextFont';

}

.budget-request form label {
    margin-top: 20px;
    display: block;
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

/* 
@media (max-width: 1100px) {

    .budget-request{
        right: 7%;
    }
}
*/
@media (max-width: 1050px) {

    .budget-request {
        top: 340px;
        right: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 500px;
    }

    .form-content {
        width: 350px;
    }

}

@media (max-width: 991px) {

    .budget-request {
        top: 350px;
    }
}

@media (max-width: 580px) {

    .budget-request {
        width: 100%;
        top: 330px;

    }
}

@media (max-width: 400px) {
    .form-content {
        width: 280px;
    }

    .budget-request form {
        width: 280px;
    }

    .budget-request-title {
        width: 280px;

    }

    .budget-request form button {
        width: 100%;
    }
}